@use "./_variables" as *;
:root {
	--font-NanumSquareNeo-Variable: "NanumSquareNeo-Variable";
}
html[data-theme="light"] {
  --color-text: #{$text-color-1};
  --color-background: #{$bg-color-1};
  --color-btn : #{$btn-color-1};
  --background-btn : #{$btn-background-1};
  --color-ISTJ : #{$ISTJ-color-1};
  --color-ISFJ : #{$ISFJ-color-1};
  --color-INTJ : #{$INTJ-color-1};
  --color-INFJ : #{$INFJ-color-1};
  --color-ISTP : #{$ISTP-color-1};
  --color-ISFP : #{$ISFP-color-1};
  --color-INFP : #{$INFP-color-1};
  --color-INTP : #{$INTP-color-1};
  --color-ESTP : #{$ESTP-color-1};
  --color-ESFP : #{$ESFP-color-1};
  --color-ENFP : #{$ENFP-color-1};
  --color-ENTP : #{$ENTP-color-1};
  --color-ESTJ : #{$ESTJ-color-1};
  --color-ESFJ : #{$ESFJ-color-1};
  --color-ENFJ : #{$ENFJ-color-1};
  --color-ENTJ : #{$ENTJ-color-1};
  --size-card: #{$MBTI-card-desktop};
}

html[data-theme="dark"] {
  --color-text: #{$text-color-2};
  --color-background: #{$bg-color-2};
  --color-btn : #{$btn-color-2};
  --background-btn : #{$btn-background-2};
}
// $ISTJ-color-2: #
// $ISFJ-color-2: #
// $INTJ-color-2: #
// $INFJ-color-2: #
// $ISTP-color-2: #
// $ISFP-color-2: #
// $INFP-color-2: #
// $INTP-color-2: #
// $ESTP-color-2: #
// $ESFP-color-2: #
// $ENFP-color-2: #
// $ENTP-color-2: #
// $ESTJ-color-2: #
// $ESFJ-color-2: #
// $ENFJ-color-2: #
// $ENTJ-color-2: #