
// Button
$btn-color-1: #000;
$btn-color-2: #fff; // 미정
$btn-background-1: #00c7af;
$btn-background-2: #00c7af;



$bg-color-1: #fff; 
$bg-color-2: #232323; // 미정
$text-color-1: #000; // 미정
$text-color-2: #fff; // 미정

// MBTI
$ISTJ-color-1: #B2A4FF;
// $ISTJ-color-2: #
$ISFJ-color-1: #FFB4B4;
// $ISFJ-color-2: #
$INTJ-color-1: #FFDEB4;
// $INTJ-color-2: #
$INFJ-color-1: #B4E4FF;
// $INFJ-color-2: #
$ISTP-color-1: #95BDFF;
// $ISTP-color-2: #
$ISFP-color-1: #B5F1CC;
// $ISFP-color-2: #
$INFP-color-1: #FF7396;
// $INFP-color-2: #
$INTP-color-1: #B4FF9F;
// $INTP-color-2: #
$ESTP-color-1: #187498;
// $ESTP-color-2: #
$ESFP-color-1: #FBF46D;
// $ESFP-color-2: #
$ENFP-color-1: #FFDEFA;
// $ENFP-color-2: #
$ENTP-color-1: #D83A56;
// $ENTP-color-2: #
$ESTJ-color-1: #867AE9;
// $ESTJ-color-2: #
$ESFJ-color-1: #F4F9F9;
// $ESFJ-color-2: #
$ENFJ-color-1: #FF9292;
// $ENFJ-color-2: #
$ENTJ-color-1: #A685E2;
// $ENTJ-color-2: #

// SIZE
$MBTI-card-desktop: 120px;