@import '../../sass/abstracts/mixins';
@import '../../main.scss';

.Header {
  position: sticky;
  z-index: 100;
  display: flex;
  justify-content: center;
  top: 0;
  background-color: var(--color-background);
  margin: auto;
  height: 72px;
  border-bottom: 1px solid #ececec;
  &__nav {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__ListIcon {
      display: none;
    }
    &__right {
      display: flex;
    }
  }
}

@include tablet {
  .Header {
    &__nav {
      width: 90%;
      &__ListIcon {
        display: flex;
      }
      &__right {
        display: none;
      }
    }
  }
}

@include mobile {
  .Header {
    &__nav {
      width: 90%;
      &__ListIcon {
        display: flex;
      }
      &__right {
        display: none;
      }
    }
  }
}
