.ProfileForm {
  border: .0625rem solid #f2f2f2;
  border-radius: 8px;
  width: 352px;
  height: 618px;
  padding: 40px;
  background-color: #fff;

  .BasicInput {
    margin-bottom: 28px;
  }

  Input {
    display: flex;
    margin: 5px 0px;
  }

  Button {
    width: 163px;
    margin: 6px;
  }
}