.Footer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    border-top: 1px solid #ececec;
    padding: 40px 0 80px;
    margin: 0 auto;
    width: 1080px;
    &__items{
        margin: auto;
        display: flex;
        &--logo{
            padding: 30px;
            min-width: 200px;
        }
    }
}