@import '../../sass/abstracts/mixins';
@import '../../main.scss';

.SignUpForm {
  border: 0.0625rem solid #f2f2f2;
  border-radius: 8px;
  width: 414px;
  padding: 40px;
  background-color: #fff;
  .signup__btn {
    text-align: center;
    &__prev {
      display: inline-block;
      color: #737377;
      margin-top: 15px;
    }
  }
}
